extends shop-layout

block content
    div(class="custom-container" style="margin-left: 1rem")
        h1(class="position-relative " style="top: 1rem") Edit Manufacturers
            a(class="position-relative" href="/"+shop._id+"/addItem" style="left: 3rem")
                u(style="font-size: 70%;") Back
        br
        form(method='post' action='/'+shop._id+'/editManus')
            div(class="row col-md-5")
                input(class="form-control" name="manufacturer")
            div(class="row col-md-5")
                input(class="submit btn-primary mt-3 ml-1" type="submit" value="Add Manufacturer")
           
        br
        table(class="table" style="width: 40%")
            thead
                th Manufacturers
            tbody
                each manufacturer, i in shop.manufacturers
                    tr
                        td=manufacturer
                        td
                            a(href='/'+shop._id+'/editManus/deletemanufacturer/'+i)
                                span(style="font-size: 200%; color: red;") &times; 
        