extends shop-layout

block content 
    div(class="custom-container" style="margin-left: 1rem")
        div(class="row")
            h4(class= "font-weight-light col-lg-4" style="top: 2rem") Shop Details
        br
        br
        form(action="/"+shop._id+"/shopEditAcc" method="POST")
            div(class="form-row" id="row1")
                div(class="form-group col-lg-4")
                    label(for="inputName") Shop Name 
                        i (Must be unique)
                    input(name="name" style="width: 85%" type="text" class="form-control" id="inputName" value=shop.name)
                    if (resultType === 'name')
                        div(class="customValidation") The shop name you've entered already exists
                div(class="form-group col-lg-4" id="emailGroup1")
                    label(for="inputEmail") Email
                    input(name="email" style="width: 85%" type="email" class="form-control" id="inputEmail" value=shop.email)
                    if (field === 'email') || (field === 'email+password')
                        div(class="customValidation") Please enter a matching email
                    if (resultType === 'email')
                        div(class="customValidation") The email you've entered already exists