extends presignin-layout

block content
    div(class="custom-container" style="margin-left: 1rem")
        h1(class="position-relative " style="top: 1rem") Create a Shop
        div(class="row")
                h4(class= "font-weight-light col-lg-4" style="top: 2rem") Shop Details
                h4(class="font-weight-light col-md-4" style="top: 2rem; margin-left: -0.3rem; ") Account Details
        br
        br
        form(action="/shopCreateAcc" method="POST")
            div(class="form-row")
                div(class="form-group col-lg-4")
                    label(for="inputName") Shop Name 
                        i (Must be unique)
                    input(name="name" style="width: 85%" type="text" class="form-control" id="inputName" placeholder="Given Name")
                div(class="form-group col-lg-4" id="emailGroup1")
                    label(for="inputEmail") Email
                    input(name="email" style="width: 85%" type="email" class="form-control" id="inputEmail" placeholder="example@uShop.com")
            div(class="form-row")
                div(class="form-group col-lg-4")
                    label(for="inputCategory1") Shop Category 
                    select(name="category1" style="width: 85%" class="form-control" id="inputCategory1")
                        option(value="Baby and Nursery") Baby and Nursery
                        option(value="Beauty") Beauty
                        option(value="Books, Stationary and Gifts") Books, Stationary and Gifts
                        option(value="Clothing and accessories") Clothing and accessories
                        option(value="Designer and Boutqiue") Clothing and accessories
                        option(value="Discount and variety") Discount and variety
                        option(value="Electronics and technology") Electronics and technology
                        option(value="Entertainment") Entertainment
                        option(value="Fresh food and groceries") Fresh food and groceries
                        option(value="Health and Fitness") Health and Fitness
                        option(value="Home") Home
                        option(value="Luggage and travel accessories") Luggage and travel accessories
                        option(value="Luxury and premium") Luxury and premium
                        option(value="Sporting goods") Sporting goods
                        option(value="Toys and Hobbies") Toys and Hobbies
                div(class="form-group col-lg-4" id="emailGroup2")
                    label(for="inputReEmail") Re-enter Email
                    input(name="reEmail" style="width: 85%" type="email" class="form-control" id="inputReEmail" placeholder="example@uShop.com")
            div(class="form-row")
                div(class="form-group col-lg-4" onclick="addDropdown()")
                    img(src="/images/plus_button.png" style="width: 5%;")
                    a(style="left: 1rem" class="position-relative") Add New Category
                div(class="form-group col-lg-4" id="passwordGroup1")
                    label(for="inputPassword") Password 
                        i (Minimum 7 Characters)
                    input(name="password" style="width: 85%" type="password" class="form-control" id="inputPassword" placeholder="Password")
            div(class="form-row")
                div(class="form-group col-lg-4")
                div(class="form-group col-lg-4" id="passwordGroup2")
                        label(for="inputRePassword") Re-enter Password 
                        input(name="rePassword" style="width: 85%" type="password" class="form-control" id="inputRePassword" placeholder="Password")
            div(class="form-row")
                div(class="form-group col-lg-4")
                div(class="form-group col-lg-4")
                    input(style="position: relative; height: 60px; width: 350px; background-color: #1D3557; color: white; border-radius: 10px; font-size: 190%; top: 1rem " type="submit" value="Create Shop" id="submit")
        div(style="left: 400px; top: -300px" class="container text-center position-relative") 
            h3 Wanted to become a
            h3 user instead?
            a(href="/userCreateAcc" class="font-weight-light") Click Here
    script(src="/js/validation.js")
