doctype html
html
    head    
        title uShop
        //Bootstrap CSS
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    body
        nav(class="navbar navbar-expand-md navbar-dark bg-dark sticky-top") 
            a(class="navbar-text" style="font-size:175%; color:white; padding:0px" href="/") uShop.com
        h1(class="display-2 text-center position-relative" style="top: 3rem; font-size: 400%") Sign In
        form(action="/signin" method="POST")
            div(class="form-row position-relative" style="top:7rem")
                label(class="col-lg-4 col-form-label position-relative text-right" for="inputEmail" style="font-size: 150%; top:-5px; left: -5px;") Email:
                input(class="form-control col-lg-4" type="email" name="email" id="inputEmail")
            //- if err == true
            //-     div(class="invalid-feedback") email incorrect
            br
            div(class="form-row position-relative" style="top:7rem")
                label(class="col-lg-4 col-form-label position-relative text-right" for="inputPassword" style="font-size: 150%; top:-5px; left: -5px;") Password:
                input(class="form-control col-lg-4" type="password" name="password" id="inputPassword")
            div(class="form-row position-relative" style="top:8rem")
                input(class="btn btn-primary btn-lg offset-lg-4 " type="submit" value="Sign In")
