/*
This CSS file is also from W3Schools.
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select
Some properties have been altered by myself to suit the theme of the page
*/

.custom-select {
    position: relative;
    font-family: Arial;
    border: none;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 30px;
    right: 15px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: black transparent  white  transparent ;
  }
  

  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 0;
    z-index: 99;
    background-color: white;
    border: 2px solid black;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }